<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>body</title>

    <div data-th-fragment="style">
        <link rel="stylesheet" data-th-href="@{/css/bootstrap.min.css}" type="text/css">
        <link rel="stylesheet" data-th-href="@{/css/flaticon.css}" type="text/css">
        <link rel="stylesheet" data-th-href="@{/css/barfiller.css}" type="text/css">
        <link rel="stylesheet" data-th-href="@{/css/magnific-popup.css}" type="text/css">
        <link rel="stylesheet" data-th-href="@{/css/font-awesome.min.css}" type="text/css">
        <link rel="stylesheet" data-th-href="@{/css/elegant-icons.css}" type="text/css">
        <link rel="stylesheet" data-th-href="@{/css/nice-select.css}" type="text/css">
        <link rel="stylesheet" data-th-href="@{/css/owl.carousel.min.css}" type="text/css">
        <link rel="stylesheet" data-th-href="@{/css/slicknav.min.css}" type="text/css">
        <link rel="stylesheet" data-th-href="@{/css/style.css}" type="text/css">
    </div>

</head>
<body>

<!-- Offcanvas Menu Begin -->
<div data-th-fragment="offMenu">
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__cart">
            <div class="offcanvas__cart__links">
                <a href="#" class="search-switch"><img data-th-src="@{/img/icon/search.png}" alt=""></a>
                <a href="#"><img data-th-src="@{/img/icon/heart.png}" alt=""></a>
            </div>
            <div class="offcanvas__cart__item">
                <a href="#"><img data-th-src="@{/img/icon/cart.png}" alt=""> <span>0</span></a>
                <div class="cart__price">Cart: <span>$0.00</span></div>
            </div>
        </div>
        <div class="offcanvas__logo">
            <a href="../index.html"><img data-th-href="@{/img/logo.png}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__option">
            <!--not needed-->
        </div>
    </div>
</div>
<!-- Offcanvas Menu End -->

<section class="testimonial spad" data-th-fragment="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Testimonial</span>
                    <h2>Our users commented...</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testimonial__slider owl-carousel">
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Kimberger Attila</h5>
                                <span>Valahol Magyarországon</span>
                            </div>
                        </div>
                        <div class="rating">
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star-half_alt"></span>
                        </div>
                        <p>A kedvenc receptjeim itt találhatók, sokat dolgoztam már velük..</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Bucsek Barni</h5>
                                <span>Valahol Magyarországon</span>
                            </div>
                        </div>
                        <div class="rating">
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star-half_alt"></span>
                        </div>
                        <p>A tejespite 10/10-es! Köszönöm, bárki is töltötte fel!</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Horváth Kitty</h5>
                                <span>Budapest</span>
                            </div>
                        </div>
                        <div class="rating">
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star-half_alt"></span>
                        </div>
                        <p>A Kiscicás recept miatt majdnem 1 csillagot adtam, de aztán végigolvastam.. Jajjmár! :D</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Benedek Mária</h5>
                                <span>Budapest</span>
                            </div>
                        </div>
                        <div class="rating">
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star-half_alt"></span>
                        </div>
                        <p>KISCICA FTW!!!!</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Kiss Tamás</h5>
                                <span>Budapest</span>
                            </div>
                        </div>
                        <div class="rating">
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star"></span>
                            <span class="icon_star-half_alt"></span>
                        </div>
                        <p>Príma kis gyűjtemény, majd én is töltök föl receptet, de azt mindenki megemlegeti</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__author">
                            <div class="testimonial__author__text">
                                <h5>Vladimir Putin</h5>
                                <span>Moszkva</span>
                            </div>
                        </div>
                        <div class="rating">
                            <span class="icon_star"></span>
                            <span class="icon_star-half_alt"></span>
                        </div>
                        <p>Kevés az orosz sütemény... Kér valaki teát?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="row" data-th-fragment="contentRecipes">

    <div data-th-if="${message} != null" data-th-text="${message}">

    </div>

    <div data-th-unless="${message} != null" class="col-lg-3 col-md-6 col-sm-6" data-th-each="recipe : ${recipes}">
        <div class="product__item">
            <div class="product__item__pic" >
                <img style="width: 100%; height: 100%;" data-th-src="@{/photo/{id}(id=${recipe.id})}" alt="photo" data-th-if="${recipe.photoName != ''}">
                <div class="product__label">
                    <span data-th-text="${recipe.difficulty}"></span>
                </div>
            </div>
            <div class="product__item__text">
                <h6 data-th-text="${recipe.name}"></h6>
                <div class="product__item__price" data-th-text="${recipe.id}"></div>
                <div class="cart_add">
                    <a data-th-href="@{/recipe/{id}(id = ${recipe.id})}">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-th-fragment="searchModel">
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
</div>

<div data-th-fragment="scripts">
    <script data-th-src="@{/js/jquery-3.3.1.min.js}"></script>
    <script data-th-src="@{/js/bootstrap.min.js}"></script>
    <!--<script data-th-src="@{/js/jquery.nice-select.min.js}"></script>-->
    <script data-th-src="@{/js/jquery.barfiller.js}"></script>
    <script data-th-src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script data-th-src="@{/js/jquery.slicknav.js}"></script>
    <script data-th-src="@{/js/owl.carousel.min.js}"></script>
    <script data-th-src="@{/js/jquery.nicescroll.min.js}"></script>
    <script data-th-src="@{/js/main.js}"></script>
</div>

<section class="hero" data-th-fragment="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__item set-bg" data-setbg="img/hero/hero-1.jpg">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="hero__text">
                            <h2>Making your life sweeter one bite at a time!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial spad" data-th-fragment="topRated">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Top Rated Recipes</span>
                    <h2>Our users choice</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div data-th-fragment="showRecipe">
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__img">
                        <div class="product__details__big__img">
                            <img class="big_img" data-th-src="@{/photo/{id}(id=${recipe.id})}" alt="photo" data-th-if="${recipe.photoName != ''}">
                        </div>
                        <div class="product__details__thumb">
                            <div class="pt__item active">
                                <img data-imgbigurl="/img/shop/details/product-big-2.jpg"
                                     data-th-src="@{/img/shop/details/product-big-2.jpg}" alt="">
                            </div>
                            <div class="pt__item">
                                <img data-imgbigurl="/img/shop/details/product-big-1.jpg"
                                     data-th-src="@{/img/shop/details/product-big-1.jpg}" alt="">
                            </div>
                            <div class="pt__item">
                                <img data-imgbigurl="/img/shop/details/product-big-4.jpg"
                                     data-th-src="@{/img/shop/details/product-big-4.jpg}" alt="">
                            </div>
                            <div class="pt__item">
                                <img data-imgbigurl="/img/shop/details/product-big-3.jpg"
                                     data-th-src="@{/img/shop/details/product-big-3.jpg}" alt="">
                            </div>
                            <div class="pt__item">
                                <img data-imgbigurl="/img/shop/details/product-big-5.jpg"
                                     data-th-src="@{/img/shop/details/product-big-5.jpg}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <div class="product__label" data-th-text="${recipe.id}"></div>
                        <div><a data-th-href="@{'/edit/' + ${recipe.id}}" role="button"><img alt="edit" src="/img/icon/edit.png"></a>
                            <a data-th-href="@{'/delete/' + ${recipe.id}}" role="button"><img alt="delete" src="/img/icon/delete.png">
                        </a></div>

                        <h4 data-th-text="${recipe.name}"></h4>
                        <h5 data-th-text="${recipe.preparationTime} + ' minutes'"></h5>
                    </div>
                    <div>
                        <ul data-th-each="ingredient : ${recipe.ingredients}">
                            <li data-th-text="${ingredient.quantity} + ' ' + ${ingredient.unit} + ' ' + ${ingredient.name}"></li>
                        </ul>
                       <!-- <a data-th-href="@{'/edit/' + ${product.id}}" role="button">Szerkesztés</a>
                        <ul><a data-th-href="@{'/delete/' + ${recipe.id}}" role="button">Törlés</a></ul>-->
                    </div>
                </div>
            </div>
            <div class="product__details__tab">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8">
                                    <p data-th-text="${recipe.instruction}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
</div>

<div data-th-fragment="searchForm">
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title">
                        <span>Search</span>
                        <h2>Let us help to find a recipe for you.</h2>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="class__sidebar">
                        <form data-th-action="@{/search}" data-th-object="${search}" method="post">
                            <div class="row">
                                <div class="col-lg-8">
                                    <label for="recipeName">Recipe name</label>
                                    <input type="text" id="recipeName" data-th-field="*{name}">
                                </div>
                                <div class="col-lg-8">
                                    <label for="ingredient">Ingredients</label>
                                    <input type="text" id="ingredient" data-th-field="*{ingredient}">
                                </div>
                                <div class="col-lg-8">
                                    <label for="prepTime">Preparation time</label>
                                    <input type="number" id="prepTime" placeholder="10" data-th-field="*{prepTime}">
                                </div>
                                <div class="col-lg-8">
                                    <input type="checkbox" id="vegan" value="vegan" style="height: 15px; width: 15px" data-th-field="*{vegan}">
                                    <label for="vegan">Vegan recipes</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="checkbox" id="lactose" value="lactose" style="height: 15px; width: 15px" data-th-field="*{lactose_free}">
                                    <label for="lactose">Lactose free recipes</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="checkbox" id="gluten" value="gluten" style="height: 15px; width: 15px" data-th-field="*{gluten_free}">
                                    <label for="gluten">Gluten free recipes</label>
                                </div>
                                <select name="difficulty" class="col-lg-8" style="border: none" data-th-field="*{difficulty}">
                                    <option data-th-each="difficulty : ${T(com.example.recipe_project.enums.EnumDifficulty).values()}"
                                            data-th-value="${difficulty}"
                                            data-th-text="${difficulty.displayValue}">
                                    </option>
                                </select>
                                <br><br>
                                <div class="col-lg-12">
                                    <br><br>
                                    <button type="submit" class="site-btn">Search...</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div data-th-fragment="createRecipe">
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title">
                        <span>Create recipe</span>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="class__sidebar">
                        <form data-th-action="@{/create-recipe}" data-th-object="${newrecipe}" method="post" enctype="multipart/form-data" >
                            <table>
                                <tr>
                                    <th>Recipe name:</th>
                                    <td><input style="height: 20px; margin-bottom: 5px" type="text" data-th-field="*{name}" /> </td>
                                </tr>
                                <tr>
                                    <th>Difficulty:</th>
                                    <td>
                                        <select class="difficulty" data-th-field="*{difficulty}" >
                                            <option data-th-each="difficulty : ${T(com.example.recipe_project.enums.EnumDifficulty).values()}"
                                                    data-th-value="${difficulty}"
                                                    data-th-text="${difficulty.displayValue}">
                                            </option>
                                        </select>

                                        </select></td>
                                </tr>

                                <tr>
                                    <th>Preparation time(minutes):</th>
                                    <td><input style="height: 20px; margin-bottom: 5px" type="number" step="1" data-th-field="*{preparationTime}" /> </td>
                                </tr>
                                <tr>
                                    <th>Vegan</th>
                                    <td><input style="height: 15px; width: 15px" type="checkbox" data-th-field="*{vegan}" /> </td>
                                </tr>
                                <tr>
                                    <th>Laktose free</th>
                                    <td><input style="height: 15px; width: 15px" type="checkbox" data-th-field="*{lactose_free}" /> </td>
                                </tr>
                                <tr>
                                    <th>Gluten free</th>
                                    <td><input style="height: 15px; width: 15px" type="checkbox" data-th-field="*{gluten_free}"/> </td>
                                </tr>
                                <tr>
                                    <th>Instructions</th>
                                    <td colspan="2"><textarea style="height: 200px; width: 100%; margin-bottom: 5px" type="text" data-th-field="*{instruction}" ></textarea> </td>
                                </tr>
                                <tr>
                                    <th>Ingredients:</th>
                                </tr>
                                <tr data-th-each="ingredient, itemStat : *{ingredients}">
                                    <th></th>

                                    <td><input style="height: 20px; margin-bottom: 5px" type="text" data-th-field="*{ingredients[__${itemStat.index}__].name}"/></td>
                                    <td><input style="height: 20px; margin-bottom: 5px" type="number" step="0.1" data-th-field="*{ingredients[__${itemStat.index}__].quantity}"/></td>
                                    <td><select class="unit" data-th-field="*{ingredients[__${itemStat.index}__].unit}" >
                                        <option data-th-each="u : ${T(com.example.recipe_project.enums.EnumUnit).values()}" data-th-value="${u}"
                                                data-th-text="${u}"></option>
                                    </select>
                                    </td>

                                </tr>
                                <tr>
                                    <th>Image</th>

                                    <td><input type="file" name="photo" style="background-color: inherit; margin-top: 10px; padding-top: 20px;"></td>
                                </tr>




                            </table>
                                <div class="col-lg-12">
                                    <br><br>
                                    <button type="submit" class="site-btn">Create</button>
                                </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div data-th-fragment="updateRecipe">
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title">
                        <span>Update recipe</span>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="class__sidebar">
                        <form data-th-action="@{/edit/{id}(id=${recipe.id})}" data-th-object="${recipe}" method="post">
                            <table>
                                <tr>
                                    <th>Recipe name:</th>
                                    <td>
                                        <input style="height: 20px; margin-bottom: 5px" type="text" data-th-field="*{name}" data-th-value="${recipe.getName}"/>
                                        <input hidden data-th-field="*{id}" data-th-value="${recipe.getId}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>Difficulty:</th>
                                    <td>
                                        <select class="difficulty" data-th-field="*{difficulty}" data-th-value="${recipe.getDifficulty}">
                                            <option data-th-each="difficulty : ${T(com.example.recipe_project.enums.EnumDifficulty).values()}"
                                                    data-th-value="${difficulty}"
                                                    data-th-text="${difficulty.displayValue}">
                                            </option>
                                        </select>

                                        </select></td>
                                </tr>

                                <tr>
                                    <th>Preparation time(minutes):</th>
                                    <td><input style="height: 20px; margin-bottom: 5px" type="number" step="1" data-th-field="*{preparationTime}" data-th-value="${recipe.getPreparationTime}"/> </td>
                                </tr>
                                <tr>
                                    <th>Vegan</th>
                                    <td><input style="height: 15px; width: 15px" type="checkbox" data-th-field="*{vegan}" data-th-value="${recipe.isVegan}"/> </td>
                                </tr>
                                <tr>
                                    <th>Laktose free</th>
                                    <td><input style="height: 15px; width: 15px" type="checkbox" data-th-field="*{lactose_free}" data-th-value="${recipe.isLactose_free}"/> </td>
                                </tr>
                                <tr>
                                    <th>Gluten free</th>
                                    <td><input style="height: 15px; width: 15px" type="checkbox" data-th-field="*{gluten_free}" data-th-value="${recipe.isGluten_free}"/> </td>
                                </tr>
                                <tr>
                                    <th>Instructions</th>
                                    <td colspan="2"><textarea style="height: 200px; width: 100%; margin-bottom: 5px" type="text" data-th-field="*{instruction}" data-th-value="${recipe.getInstruction}"></textarea> </td>
                                </tr>
                                <tr>
                                    <th>Ingredients:</th>
                                </tr>
                                <tr data-th-each="ingredient, itemStat : *{ingredients}">
                                    <th></th>

                                    <td>
                                        <input style="height: 20px; margin-bottom: 5px" type="text" data-th-field="*{ingredients[__${itemStat.index}__].name}"/>
                                        <input hidden data-th-field="*{ingredients[__${itemStat.index}__].id}" data-th-value="${{ingredients[__${itemStat.index}__].getId}}">
                                    </td>
                                    <td><input style="height: 20px; margin-bottom: 5px" type="number" step="0.1" data-th-field="*{ingredients[__${itemStat.index}__].quantity}"/></td>
                                    <td><select class="unit" data-th-field="*{ingredients[__${itemStat.index}__].unit}" >
                                        <option data-th-each="u : ${T(com.example.recipe_project.enums.EnumUnit).values()}" data-th-value="${u}"
                                                data-th-text="${u}"></option>
                                    </select>

                                    </td>

                                </tr>

                            </table>
                            <div class="col-lg-12">
                                <br><br>
                                <button type="submit" class="site-btn">Update</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div data-th-fragment="ingredientNumber">
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title">
                        <span>Create recipe</span>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="class__sidebar">
                        <form data-th-action="@{/create}" method="post">
                            <table>
                                <tr>
                                    <th>Number of ingredients:</th>
                                    <td><input style="height: 20px; margin-bottom: 5px" type="number" step="1" data-th-field="*{recipe.numOfIngredients}"></td>
                                </tr>
                            </table>

                            <div class="col-lg-12">
                                <br><br>
                                <button type="submit" class="site-btn">Next</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
</div>

<div data-th-fragment="login">
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title">
                        <span>Hello, Friend</span>
                        <h2>Please log in to continue</h2>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="class__sidebar">
                        <form class="form" data-th-action="@{/login}" method="post">
                            <table>
                                <tr>
                                    <p data-th-if="${loginError}" style="color: darkred">Wrong username or password.</p>
                                </tr>
                                <tr>
                                    <th>Username:</th>
                                    <td><input style="height: 20px; margin-bottom: 5px" type="text" data-th-name="username"></td>
                                </tr>
                                <tr>
                                    <th>Password:</th>
                                    <td><input style="height: 20px; margin-bottom: 5px" type="password" data-th-name="password"></td>
                                </tr>
                            </table>

                            <div class="col-lg-12">
                                <br><br>
                                <button type="submit" class="site-btn">Login</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
</div>


</body>
</html>