<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="footer set-bg" data-setbg="/img/footer-bg.jpg">
  <div data-th-fragment="footerBody" class="container">
    <div class="row" style="margin-right: 0px !important;">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__widget">
          <!--working hours-->
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__logo">
            <a href="#"><img data-th-src="@{/img/footer-logo.png}" alt=""></a>
          </div>
          <p>Az oldalon közzétett receptek szerzői jogokkal védettek, ha gondod van vele, keress egy ügyvédet! :)</p>
          <div class="footer__social">
            <a href="https://www.facebook.com/profile.php?id=100086178790979"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/home"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/recipe_project_progmatic/"><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/watch?v=xKEDr1_XdG0"><i class="fa fa-youtube-play"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__newslatter">
          <!--newsletter-->
        </div>
      </div>
    </div>
  </div>
  <div class="copyright" data-th-fragment="footerCopy">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <p class="copyright__text text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
        <div class="col-lg-5">
          <div class="copyright__widget">
            <ul>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>