<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="fragments/head::head"></div>
    <title>Desszert Projekt</title>
    <!-- Css Styles -->
    <div th:include="fragments/body::style"></div>
</head>

<body>

    <!-- Offcanvas Menu Begin -->
    <div th:include="fragments/body::offMenu"></div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div th:include="fragments/header::header('home')"></div>
    </header>
    <!-- Header Section End -->

    <section class="hero" th:include="fragments/body::hero"></section>

    <section class="product spad" th:include="fragments/body::topRated"></section>

    <section class="product spad">
        <div class="container" >
            <div class="row" th:include="fragments/body::contentRecipes"></div>
        </div>
    </section>

    <section class="testimonial spad" th:include="fragments/body::testimonial"></section>


    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="/img/footer-bg.jpg">
       <div th:include="fragments/footer::footerBody"></div>
       <div th:include="fragments/footer::footerCopy"></div>
</footer>
<!-- Footer Section End -->


<!-- Search Begin -->
    <div th:include="fragments/body::searchModel"></div>
<!-- Search End -->

<!-- Js Plugins -->
    <div th:include="fragments/body::scripts"></div>

</body>

</html>